<?xml version="1.0"?>
<config>
	<modules>
		<Timion_Orderphoto>
			<version>0.1.0</version>
		</Timion_Orderphoto>
	</modules>
	<global>
		<models>
			<timion_orderphoto>
				<class>Timion_Orderphoto_Model</class>
				<resourceModel>timion_orderphoto_resource</resourceModel>
			</timion_orderphoto>
			<timion_orderphoto_resource>
				<class>Timion_Orderphoto_Model_Resource</class>
			</timion_orderphoto_resource>
		</models>
		<blocks>
			<timion_orderphoto>
				<class>Timion_Orderphoto_Block</class>
			</timion_orderphoto>
		</blocks>
		<helpers>
			<timion_orderphoto>
				<class>Timion_Orderphoto_Helper</class>
			</timion_orderphoto>
		</helpers>
	</global>
	<frontend>
		<routers>
			<timion_orderphoto>
				<use>standard</use>
				<args>
					<module>Timion_Orderphoto</module>
					<frontName>orderphoto</frontName>
				</args>
			</timion_orderphoto>
		</routers>
		<secure_url>
			<timion_orderphoto>/orderphoto/</timion_orderphoto>
		</secure_url>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<timion_orderphoto>
					<file>timion_orderphoto.xml</file>
				</timion_orderphoto>
			</updates>
		</layout>
	</adminhtml>
</config>